@import url(/css/bootstrap.min.css);

* {
	font-family: "Lato";
}

body {
	background-color: #99E5FF;
	padding: 0;
	margin: 0;
}

/* GENERIC
---------------------- */

.hero {
	width: 100%;
	position: relative;
	text-align: center;
	background-attachment: scroll;
	background-color: transparent;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.hero:before, .hero:after {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
}

.full.hero {
	height: 100vh;
}

.hero .hero-container {
	display: table;
	margin: 0;
	height: 100%;
}

.hero .hero-container .content {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.container {
	display: block;
	max-width: 960px;
	padding: 30px 30px;
	margin: 20px auto;
}

.container a {
	text-decoration: none;
	color: #06C;
	transition: all 0.2s ease-out;
}

.container a:hover {
	color: #39F;
}

.container a:active {
	transform: perspective(500px) translateZ(-20px);
}

.panel-image {
	max-width: 100%;
	max-height: 120px;
	display: block;
	margin: auto;
}

.panel-image-container {
	display: block;
	max-width: 100%;
	max-height: 120px;
	width: 100%;
	height: 140px;
	background-size: cover;
	background-position: center;
}

/* SPECIFIC
---------------------- */

#home-hero {
	top: 0;
	left: 0;
	background-image: url(/images/background.jpg);
	background-attachment: fixed;
	background-size: cover;
}

#home-hero .hero-container {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.75);
	width: 100%;
	height: 100vh;
	z-index: 3;
	overflow-y: hidden;
}

#home-hero .hero-container .content {
	z-index: 10;
	color: #FFF;
}

#avatar {
	background-image: url(/images/logo.png);
	background-size: cover;
	border-radius: 10.0em;
	width: 20.0em;
	height: 20.0em;
	margin: auto;
}

#home-hero .hero-container .content .header {
	margin: 0.2em;
}

#home-title {
	font-size: 5.0em;
}

#home-hero .home-subtitle {
	font-size: 1.5em;
	font-weight: 400;
}

#home-hero .home-subtitle a {
	color: #FFF;
	text-decoration: none;
}

#home-hero .hero-container .content .see_more {
	text-align: center;
	width: 100%;
	font-size: 1.5em;
	position: absolute;
	bottom: 2.5%;
	left: 0;
	
	color: #FFF;
	text-decoration: none;
}

#footer {
	text-align: center;
	background-image: url(/images/background.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: 0, 0;
	
	display: block;
	padding: 120px 30px;
	margin: 20px auto;
	margin-bottom: 0;
	color: #FFF;
	position: relative;
}

#footer #overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	
	padding: 120px 30px;
	font-size: 1.5em;
	background-color: rgba(0, 0, 0, 0.75);
	
	box-sizing: border-box;
}