html,
* {
	box-sizing: border-box
}
html,
body {
	background-color: #242020;
	margin: 0;
	width: 100%;
	height: 100%
}
body {
	color: #ffffff;
	font: 93.8% / 1.5 "Source Sans Pro", sans-serif;
	text-align: center
}
@media (min-width: 500px) {
	body {
		font-size: 100%
	}
}
@media (min-width: 700px) {
	body {
		font-size: 106.3%
	}
}
@media (min-width: 900px) {
	body {
		font-size: 112.5%
	}
}
@media (min-width: 1100px) {
	body {
		font-size: 118.5%
	}
}
.banner {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-size: 1rem;
	background: url(/images/home/backdrop-small.jpg) no-repeat center 70%;
	background-size: cover
}
@media (min-width: 700px) {
	.banner {
		font-size: 1.063rem
	}
}
@media (min-width: 500px) and (min-height: 800px) {
	.banner {
		background-image: url(/images/home/backdrop-medium.jpg)
	}
}
@media (min-width: 1400px) {
	.banner {
		background-image: url(/images/home/backdrop-large.jpg)
	}
}
.banner:before {
	content: "";
	height: 100%;
	width: 100%;
	box-shadow: inset 0 0 2vw rgba(0, 0, 0, 0.4);
	position: absolute;
	left: 0;
	top: 0
}
.logo {
	margin: 1em auto 0;
	width: 100%;
	max-width: 90%
}
@media (max-height: 700px) and (min-width: 700px) {
	.logo {
		max-width: 48vmin;
		min-width: 320px
	}
}
@media (max-height: 800px) {
	.logo {
		max-width: 60vmin
	}
}
.content {
	position: relative;
	z-index: 2;
	margin: auto;
	width: 75%;
	padding: 7% 0;
	max-width: 530px
}
@media (max-height: 800px) and (min-width: 500px) {
	.content {
		padding: 4% 0
	}
}
@media (max-height: 700px) and (min-width: 500px) {
	.content {
		padding: 2% 0
	}
}
@media (min-width: 500px) {
	.content {
		width: 90%
	}
}
a {
	color: white;
	text-decoration: none
}
p {
	margin: 1em 0
}
img {
	max-width: 100%;
	margin-bottom: 1em
}
h2 svg {
	width: 80%;
	max-height: 90px
}
h3 svg {
	width: 100%;
	max-height: 1000px
}
h2,
h3 {
	font-size: 3.25em;
	line-height: 1.2;
	font-weight: 300;
	margin: 0;
	text-align: center;
	width: 100%
}
.main {
	background-color: #fff;
	color: #222;
	overflow: hidden
}
.main p {
	max-width: 36em;
	margin: 0 auto 2em
}
.main a {
	color: #3e8792
}
.main a:hover {
	color: #367680;
	text-decoration: underline
}
.go-play,
.best-spots,
.make-a-trip {
	position: relative;
	z-index: 3;
	background-color: #fff;
	padding: 6% 5% 10%
}
.best-spots {
	padding: 11% 5% 6%
}
.phonescreen {
	min-height: 20%;
	background: url(/images/home/spots-sm.jpg) repeat center top;
	background-size: cover
}
@media (max-height: 700px) and (min-width: 700px) {
	.phonescreen {
		background-size: contain
	}
}
@media (min-width: 900px) {
	.phonescreen {
		background: url(/images/home/spots-lg.jpg) repeat center top;
		background-size: cover
	}
}
@media (min-width: 1380px) {
	.phonescreen {
		background-size: contain
	}
}
.phone {
	max-width: 400px;
	width: 55%;
	padding: 0 2%;
	margin: -6% auto;
	z-index: 5;
	position: relative
}
@media (min-width: 500px) {
	.phone {
		width: 40%
	}
}
@media (max-height: 700px) and (min-width: 700px) {
	.phone {
		width: 34%;
		max-width: 360px
	}
}
@media (min-width: 1380px) {
	.phone {
		margin: -4em auto
	}
}
.browse {
	margin-top: 5%;
	max-width: 1150px;
	width: 90%
}
.spots {
	position: relative;
	z-index: 3;
	background-color: #fff;
	margin: 0 auto;
	padding: 0 0 2.5em;
	list-style-type: none
}
@media (min-width: 700px) {
	.spots {
		padding: 0 8%
	}
}
.spots li {
	font-size: 0.875em;
	width: 40%;
	max-width: 280px;
	margin: 2%;
	display: inline-block
}
@media (min-width: 700px) {
	.spots li {
		width: 20%;
		margin: 0 1.5% 1.5%
	}
}
.spots li img {
	margin-bottom: 0.5em
}
.lastly {
	position: relative;
	z-index: 3;
	background-color: #fff;
	padding: 7% 0
}
.double {
	max-width: 450px;
	width: 90%;
	margin: 0 auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	text-align: left;
	margin-bottom: 12%
}
@media (min-width: 800px) {
	.double {
		max-width: 1040px;
		margin-bottom: 0
	}
}
.double p {
	margin-bottom: 0
}
.grid-unit {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 10% 3% 10% 3%;
	margin: auto
}
.grid-unit img {
	width: 100%;
	max-width: none;
	margin: 0
}
.double+.double {
	margin-top: 8%
}
.double .grid-unit.graphic {
	padding: 0
}
.double .grid-unit.graphic img {
	margin: auto;
	max-width: 280px
}
@media (min-width: 800px) {
	.double .grid-unit.graphic img {
		max-width: 380px
	}
}
@media (min-width: 800px) {
	.double:last-child .graphic {
		-webkit-box-ordinal-group: 3;
		-webkit-order: 2;
		-ms-flex-order: 2;
		order: 2
	}
	.double:last-child .graphic img {
		max-width: 340px
	}
}
.double .grid-unit {
	width: 100%
}
@media (min-width: 800px) {
	.double .grid-unit {
		width: 50%
	}
}
.footer {
	font-size: 1rem;
	background: #f8f8f8;
	position: relative;
	z-index: 3
}
.footer p {
	margin-bottom: 1em
}
.footer ul {
	list-style-type: none;
	padding: 0;
	margin: 0
}
.footer ul li {
	display: inline-block
}
.footer ul li:after {
	content: " | ";
	margin: 0 0.45em 0
}
.footer ul li:last-child:after {
	display: none
}
form {
	padding: 0;
	max-width: 400px;
	margin: 1.25em auto 1em;
	overflow: hidden
}
input[type="text"],
input[type="email"],
input[type="submit"] {
	box-sizing: border-box;
	border: none;
	font-size: 1em;
	border-radius: 4px;
	padding: 0 0.75em;
	height: 2.75em;
	font-family: "Source Sans Pro", sans-serif;
	float: left
}
input[type="text"],
input[type="email"] {
	color: #838383;
	width: 100%;
	margin-bottom: 0.5em
}
@media (min-width: 500px) {
	input[type="text"],
	input[type="email"] {
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
		width: 75%;
		margin-bottom: 0
	}
}
.footer input[type="text"],
.footer input[type="email"] {
	border: 1px solid #ccc
}
input[type="submit"] {
	color: white;
	width: 100%;
	background-color: #3e8792;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-transition: background-color 0.1s linear;
	transition: background-color 0.1s linear
}
input[type="submit"]:hover {
	background-color: #367680
}
@media (min-width: 500px) {
	input[type="submit"] {
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		width: 25%
	}
}
.confirmation p {
	max-width: 400px;
	text-align: center;
	margin: 0 auto;
	color: white;
	background-color: #1f2528;
	background-color: rgba(0, 0, 0, 0.7);
	box-sizing: border-box;
	border: none;
	font-size: 1em;
	border-radius: 4px;
	padding: 0.75em;
	display: none;
	margin-bottom: 1em;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s
}
form.submitted {
	display: none
}
form.submitted ~ .confirmation p {
	display: block
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
@-webkit-keyframes grain {
	0%, 100% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0)
	}
	10% {
		-webkit-transform: translate(-5%, -10%);
		transform: translate(-5%, -10%)
	}
	20% {
		-webkit-transform: translate(-15%, 5%);
		transform: translate(-15%, 5%)
	}
	30% {
		-webkit-transform: translate(7%, -25%);
		transform: translate(7%, -25%)
	}
	40% {
		-webkit-transform: translate(-5%, 25%);
		transform: translate(-5%, 25%)
	}
	50% {
		-webkit-transform: translate(-15%, 10%);
		transform: translate(-15%, 10%)
	}
	60% {
		-webkit-transform: translate(15%, 0%);
		transform: translate(15%, 0%)
	}
	70% {
		-webkit-transform: translate(0%, 15%);
		transform: translate(0%, 15%)
	}
	80% {
		-webkit-transform: translate(3%, 35%);
		transform: translate(3%, 35%)
	}
	90% {
		-webkit-transform: translate(-10%, 10%);
		transform: translate(-10%, 10%)
	}
}
@keyframes grain {
	0%, 100% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0)
	}
	10% {
		-webkit-transform: translate(-5%, -10%);
		transform: translate(-5%, -10%)
	}
	20% {
		-webkit-transform: translate(-15%, 5%);
		transform: translate(-15%, 5%)
	}
	30% {
		-webkit-transform: translate(7%, -25%);
		transform: translate(7%, -25%)
	}
	40% {
		-webkit-transform: translate(-5%, 25%);
		transform: translate(-5%, 25%)
	}
	50% {
		-webkit-transform: translate(-15%, 10%);
		transform: translate(-15%, 10%)
	}
	60% {
		-webkit-transform: translate(15%, 0%);
		transform: translate(15%, 0%)
	}
	70% {
		-webkit-transform: translate(0%, 15%);
		transform: translate(0%, 15%)
	}
	80% {
		-webkit-transform: translate(3%, 35%);
		transform: translate(3%, 35%)
	}
	90% {
		-webkit-transform: translate(-10%, 10%);
		transform: translate(-10%, 10%)
	}
}
blink {
	display: block;
	overflow: hidden
}
blink>* {
	z-index: 1
}
blink:after {
	-webkit-animation: grain 8s steps(10) infinite;
	animation: grain 8s steps(10) infinite;
	background: url(/images/home/noise.png);
	content: "";
	display: block;
	height: 300%;
	left: -100%;
	position: fixed;
	top: -100%;
	width: 300%;
	z-index: 2;
	opacity: 0.35
}
@media (min-width: 500px) {
	blink:after {
		opacity: 0.6
	}
}